ul {
    padding: 10px;
    text-align: center;
}

li {
    display: inline-block;
}

.main {
    height: 100vh;
    max-width: 900px;
    margin: 15px auto;
    background: rgba(92, 92, 255, 0.145);
    border: 15px solid rgb(92, 92, 255);
    border-radius: 10px;
    padding: 20px;
    color: rgb(92, 92, 255);
    border-radius: 10px;
}

.main:active {
    border: 15px solid white;
    background: rgb(92, 92, 255);
    color: white;
}